<div class="div-to-align">
  <%= simple_form_for @credit_card do |f| %>
    <% if controller.controller_name == 'credit_cards' && controller.action_name == 'edit' %>
      <%= link_to credit_card_path(@credit_card), method: :delete, data: { confirm: "Apagar #{@credit_card.name.titleize}? Todos os pagamentos vinculados também serão apagados...🙈" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
    <%= f.hidden_field :previous_url, value: @previous_url %>
    <div class="row">
      <div class="col-3">
        <%= f.input :name, label: 'Nome' %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= f.input :due_day, label: 'Dia do Vencimento' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :best_day, as: :date, html5: true, label: 'Próximo Fechamento de Fatura' %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= link_to 'Cancelar', :back, class: 'btn btn-danger btn-sm btn-block' %>
      </div>
      <div class="col-2">
        <%= f.submit 'Salvar', class: 'btn btn-primary btn-sm btn-block' %>
      </div>
    </div>
  <% end %>
</div>