<br>
<div class="container">
  <%= simple_form_for [@user, @credit_card],
    wrapper: :inline_form,
    html: { class: "form-inline" },
    wrapper_mappings: {
      boolean: :inline_boolean
    } do |f| %>
    <%= f.input :name, hint: "Nome", input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.input :due_day, hint: "Vencimento",input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.input :best_day, hint: "Fechamento da Fatura",input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.submit 'Update', class: 'btn btn-success btn-lg mb-2' %>
  <% end %>
</div>
<br>
<% unless @payments_december.empty? %>
  <h4>Dezembro de <%= @payments_december.last.year_date %> - <%= number_to_currency(@payments_december.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_december.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_january.empty? %>
  <h4>Janeiro de <%= @payments_january.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_january.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_february.empty? %>
  <hr>
  <h4>Fevereiro de <%= @payments_february.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_february.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_march.empty? %>
  <hr>
  <h4>Março de <%= @payments_march.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_march.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_april.empty? %>
  <hr>
  <h4>Abril de <%= @payments_april.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_april.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_may.empty? %>
  <hr>
  <h4>Maio de <%= @payments_may.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_may.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_june.empty? %>
  <hr>
  <h4>Junho de <%= @payments_june.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_june.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_july.empty? %>
  <hr>
  <h4>Julho de <%= @payments_july.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_july.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_august.empty? %>
  <hr>
  <h4>Agosto de <%= @payments_august.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_august.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_september.empty? %>
  <hr>
  <h4>Setembro de <%= @payments_september.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_september.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_october.empty? %>
  <hr>
  <h4>Outubro de <%= @payments_october.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_october.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
<% unless @payments_november.empty? %>
  <hr>
  <h4>Novembro de <%= @payments_november.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_november.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>