<br>
<div class="container">
  <%= simple_form_for [@user, @credit_card],
    wrapper: :inline_form,
    html: { class: "form-inline" },
    wrapper_mappings: {
      boolean: :inline_boolean
    } do |f| %>
    <%= f.input :name, hint: "Nome", input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.input :due_day, hint: "Vencimento",input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.input :best_day, hint: "Fechamento da Fatura",input_html: { class: "mb-2 mr-sm-2" } %>
    <%= f.submit 'Update', class: 'btn btn-success btn-lg mb-2' %>
  <% end %>
</div>
<br>
<% unless @payments_december.empty? %>
  <h4>Dezembro de <%= @payments_december.last.year_date %> - <%= number_to_currency(@payments_december.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_december.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<hr>
<% unless @payments_january.empty? %>
  <h4>Janeiro de <%= @payments_january.last.year_date %> - <%= number_to_currency(@payments_january.sum {|h| h[:amount] }) %></h4>
  <table>
    <tbody>
      <% @payments_january.each do |payment| %>
        <tr>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>