<section class="container">
  <%= simple_form_for CreditCard.new do |f| %>
    <div class="input-forms">
      <div class="name-input">
        <p>Nome</p>
        <p><%= f.input_field :name, class: 'input' %></p>
      </div>
      <div class="vencimento-input">
        <p>Vencimento</p>
        <p><%= f.input_field :due_day, class: 'input' %></p>
      </div>
      <div class="fechamento-input">
        <p>Fechamento</p>
        <p><%= f.input_field :best_day, as: :date, html5: true, label: false, class: 'input' %></p>
      </div>
      <%= f.button :submit, 'Salvar' %>
    </div>
  <% end %>
  <% unless @credit_cards.nil? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nome</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Fechamento</th>
        </tr>
      </thead>
      <tbody>
        <% @credit_cards.sort_by { |event| NaturalSort(event.name) }.each do |creditcard| %>
          <tr>
            <td>
              <%= link_to credit_card_path(creditcard), method: :delete, data: { confirm: "Apagar #{creditcard.name}?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </td>
            <td><%= link_to creditcard.name.titleize, edit_credit_card_path(creditcard) %></td>
            <td><%= creditcard.due_day %></td>
            <td><%= creditcard.best_day.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>