<%= simple_form_for [Payment.new] do |f| %>
  <%= f.input :from, label: 'From' %>
  <%= f.input :date, as: :date, html5: true, label: 'Date' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :amount, label: 'Amount' %>
  <%= f.input :comment, label: 'Comment' %>
  <%= f.submit "File It", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Credit Card</th>
      <th scope="col">From</th>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Due</th>
      <th scope="col">Partial</th>
      <th scope="col">Total Partial</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td></td>
        <td><%= payment.from %></td>
        <td><%= payment.date %></td>
        <td></td>
        <td><%= payment.description %></td>
        <td><%= payment.amount %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>