<div class="main-container">
  <div class="form">
    <%= simple_form_for [Payment.new] do |f| %>
      <%= f.association :credit_card, collection: CreditCard.order('name ASC'), label: 'Cartão de Crédito' %>
      <%= f.association :buyer, collection: Buyer.order('name ASC'),label: 'Comprador' %>
      <%= f.input :date, as: :date, html5: true, label: 'Data' %>
      <%= f.association :category, collection: Category.order('name ASC'),label: 'Categoria' %>
      <%= f.input :description, label: 'Descrição' %>
      <%= f.input :amount, label: 'Valor' %>
      <!-- <= f.input :due_date, as: :date, html5: true, label: 'Due' %> -->
      <!-- <= f.input :partial, label: 'Partial' %> -->
      <%= f.input :total_partial, label: '# de Parcelas' %>
      <%= f.input :comment, label: 'Comentário' %>
      <%= f.submit "Salvar", class: 'btn btn-primary btn-lg btn-block' %>
    <% end %>
  </div>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Cartão</th>
        <th scope="col">Comprador</th>
        <th scope="col">Data</th>
        <th scope="col">Categoria</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Vencimento</th>
        <th scope="col">Parcela</th>
        <th scope="col">Parcelas</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= link_to '💰', payment_path(payment) %></td>
          <td><%= payment.credit_card.name %></td>
          <td><%= payment.buyer.name %></td>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.category.name %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
          <td><%= payment.due_date.strftime('%d/%m/%y') %></td>
          <td><%= payment.partial %></td>
          <td><%= payment.total_partial %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>