<main class="container">
  <%= simple_form_for @payment do |f| %>
    <% if @credit_cards.nil? %>
      <p>
        <%= link_to new_credit_card_path do %>
          <i class="fas fa-plus-circle"></i> Adicionar Cartão de Crédito
        <% end %>
      </p>
    <% elsif @credit_cards.count >= 2%>
      <form>
        <label for="credit_card_id">
          <p><%= link_to 'Cartão de Crédito', credit_cards_path %></p>
        </label>
        <%= f.input :credit_card_id, label: false, collection: @credit_cards, label_method: :name, value_method: :id %>
      </form>
    <% else %>
      <%= f.hidden_field :credit_card_id, value: @credit_cards.first.id %>
    <% end %>
    <form>
      <label for="date">
        <p>Data</p>
      </label>
      <%= f.input :date, label: false, as: :string, input_html: { type: :date }, class: "form-control" %>
    </form>
    <form>
      <label for="total_amount">
        <p>Valor</p>
      </label>
      <%= f.input :total_amount, label: false %>
    </form>
    <form>
      <label for="total_partial">
        <p>Parcelas</p>
      </label>
      <%= f.input :total_partial, label: false %>
    </form>
    <form>
      <label for="description">
        <p>Descrição</p>
      </label>
      <%= f.input :description, label: false %>
    </form>
    <form>
      <label for="category_id">
        <p><%= link_to 'Categoria', categories_path %></p>
      </label>
      <%= f.input :category_id, label: false, collection: @categories, label_method: :name, value_method: :id %>
    </form>
    <!--
    <%# if @buyers.count >= 2 %>
      <form>
        <label for="buyer_id">
          <p><%#= link_to 'Comprador', buyers_path %></p>
        </label>
        <%#= f.input :buyer_id, label: false, collection: @buyers, label_method: :name, value_method: :id %>
      </form>
    <%# else %>
     -->
    <%#= f.hidden_field :buyer_id, value: @buyers.first.id %>
    <% if controller.action_name == 'edit' %>
      <form>
        <label for="due_date">
          <p>Vencimento</p>
        </label>
        <%= f.input :due_date, label: 'Vencimento', as: :string, input_html: { type: :date }, class: "form-control" %>
      </form>
    <% end %>
    <form>
      <label for="comment">
        <p>Observação</p>
      </label>
      <%= f.input :comment, label: false %>
    </form>
    <%= f.submit 'Salvar', class: 'btn-save' %>
  <% end %>
  <section>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Vencimento</th>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.due_date.strftime("%d/%m/%y") %></td>
            <td><%= link_to payment.description, edit_payment_path(payment) %></td>
            <td><%= number_to_currency(payment.amount, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
            <td><%= payment.partial %></td>
            <td><%= payment.total_partial %></td>
            <td><%= payment.date.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</main>