<br>
<%= link_to 'Novo Pagamento', new_payment_path %>
<!-- renderizar um modal para um pagamento novo -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Vencimento</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td id="table-link"><%= link_to payment.due_date.strftime('%d/%m'),payment_due_path(payment) %></td>
        <td><%= payment.description %></td>
        <td id="table-link"><%= link_to number_to_currency(payment.amount), payment_path(payment) %></td>
        <td><%= payment.partial %></td>
        <td><%= payment.total_partial %></td>
      </tr>
    <% end %>
  </tbody>
</table>