<br>
<p>
  <%= link_to 'Novo Pagamento', new_payment_path %>
  <!-- renderizar um modal para um pagamento novo -->
</p>
<p>
  <% unless CreditCard.where(user_id: current_user.id).count >= 1 %>
    <%= link_to credit_cards_path do %>
      <i class="fas fa-plus-circle"></i> Adicionar Cartão de Crédito
    <% end %>
  <% end %>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Vencimento</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.due_date.strftime("%d/%m/%y") %></td>
        <td><%= payment.description %></td>
        <td><%= number_to_currency(payment.amount, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= payment.partial %></td>
        <td><%= payment.total_partial %></td>
      </tr>
    <% end %>
  </tbody>
</table>