<div class="div-to-align">
  <%= simple_form_for @payment do |f| %>
    <% if CreditCard.where(user_id: current_user.id).count == 0 %>
      <%= link_to new_credit_card_path do %>
        <i class="fas fa-plus-circle"></i> Adicionar Cartão de Crédito
      <% end %>
    <% elsif CreditCard.where(user_id: current_user.id).count >= 2 %>
      <%= link_to icon("fas", "plus-circle"), new_credit_card_path %>
      <div class="row">
        <div class="col-4">
          <%= f.input :credit_card_id, label: 'Cartão de Crédito', collection: @credit_cards, label_method: :name, value_method: :id %>
        </div>
      </div>
    <% end %>
    <% if Buyer.where(user_id: current_user.id).count >= 2 %>
      <div class="row">
        <div class="col-4">
          <%#= f.association :buyer, collection: @buyers,label: 'Comprador' %>
          <%= f.input :buyer_id, label: 'Comprador', collection: @buyers, label_method: :name, value_method: :id %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-4">
        <%= f.input :date, as: :date, html5: true, label: 'Data' %>
      </div>
    </div>
    <%= link_to icon("fas", "plus-circle"), new_category_path %>
    <div class="row">
      <div class="col-4">
        <%#= f.association :category, collection: @categories, label: 'Categoria' %>
        <%= f.input :category_id, label: 'Categoria', collection: @categories, label_method: :name, value_method: :id %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :description, label: 'Descrição' %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :total_amount, label: 'Valor' %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :total_partial, label: 'N° de Parcelas' %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :comment, label: 'Observação' %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= link_to 'Cancelar', :back, class: 'btn btn-danger btn-sm btn-block' %>
      </div>
      <div class="col-2">
        <%= f.submit "Salvar", class: 'btn btn-primary btn-sm btn-block' %>
      </div>
    </div>
  <% end %>
</div>