<main class='container flexbox'>
  <section>
    <%= simple_form_for @payment do |f| %>
      <form>
        <label for="date">
          <p>Data</p>
        </label>
        <%= f.input :date, label: false, as: :string, input_html: { type: :date }, class: "form-control" %>
      </form>
      <form>
        <label for="total_amount">
          <p>Valor</p>
        </label>
        <%= f.input :total_amount, label: false %>
      </form>
      <form>
        <label for="total_partial">
          <p>Parcelas</p>
        </label>
        <%= f.input :total_partial, label: false %>
      </form>
      <form>
        <label for="description">
          <p>Descrição</p>
        </label>
        <%= f.input :description, label: false %>
      </form>
      <form>
        <label for="category_id">
          <p><%= link_to 'Categoria', categories_path %></p>
        </label>
        <%= f.input :category_id, label: false, collection: @categories, label_method: :name, value_method: :id %>
      </form>
      <form>
        <label for="comment">
          <p>Observação</p>
        </label>
        <%= f.input :comment, label: false %>
      </form>
    <% end %>
  </section>
  <section>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Vencimento</th>
          <th scope="col">Descrição</th>
          <th scope="col">Valor</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.due_date.strftime("%d/%m/%y") %></td>
            <td><%= link_to payment.description, edit_payment_path(payment) %></td>
            <td><%= number_to_currency(payment.amount, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
            <td><%= payment.partial %></td>
            <td><%= payment.total_partial %></td>
            <td><%= payment.date.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</main>