<p>Toda informação a respeito desta operação</p>
<br>
<p class="show-center">
  <h1>Total: <%= number_to_currency(@payment.total_amount) %></h1>
  <p>
    <%= link_to 'Delete', payment_path(@payment), method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger btn-sm" %>
  </p>
</p>
<br>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Cartão</th>
        <th scope="col">Data</th>
        <th scope="col">Categoria</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Vencimento</th>
        <th scope="col">Parcela</th>
        <th scope="col"># de Parcelas</th>
        <th scope="col">Comentário</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.credit_card.name %></td>
          <td><%= payment.date.strftime('%d/%m') %></td>
          <td><%= payment.category.name %></td>
          <td><%= payment.description %></td>
          <td><%= number_to_currency(payment.amount) %></td>
          <td><%= payment.due_date.strftime('%d/%m/%y') %></td>
          <td><%= payment.partial %></td>
          <td><%= payment.total_partial %></td>
          <td><%= payment.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>