<section class="introducao container">
  <h1><%= @ativo.nome %></h1>
  <%= link_to icon("fas", "trash-alt"), ativo_path(@ativo), method: :delete, data: { confirm: "Apagar #{@ativo.nome}?" }, title: 'Apagar Ativo' %>
  <div class="extrato-resumo">
    <section>
      <p>Quantidade</p>
      <p><%= number_with_delimiter(@stocks_quantity,delimiter: '.') %></p>
    </section>
    <section>
      <p>Investido</p>
      <p><%= number_to_currency(@stocks_value, unit: 'R$ ', separator: ',', delimiter: '.') %></p>
    </section>
    <section>
      <p>Rendimento</p>
      <p><%= number_to_currency(@stocks_income, unit: 'R$ ', separator: ',', delimiter: '.') %> (<%= number_to_percentage(@porcentagem, precision: 2,separator: ',') %>)</p>
    </section>
  </div>
  <%= form_tag create_sold_path, :method => "post" do %>
    <%= number_field_tag :quantidade, nil, placeholder: "Quantidade" %>
    <%= number_field_tag :preco, nil, placeholder: "Valor", step: :any %>
    <%= button_tag 'Vender', :value => @ativo.id %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Valor Final</th>
        <th scope="col">Tarifas</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @ativos.each do |ativo| %>
        <tr>
          <td><%= ativo.created_at.strftime("%d/%m/%y") %></td>
          <td><%= ativo.quantidade %></td>
          <td><sup>R$</sup> <%= number_to_currency(ativo.preco, unit: '', separator: ',', delimiter: '.') %></td>
          <% if ativo.emolumentos != nil %>
            <td><sup>R$</sup> <%= number_to_currency(ativo.emolumentos, unit: '', separator: ',', delimiter: '.') %></td>
          <% else %>
            <td><%= nil %></td>
          <% end %>
          <% if ativo.total != nil %>
            <td><sup>R$</sup> <%= number_to_currency(ativo.total, unit: '', separator: ',', delimiter: '.') %></td>
          <% else %>
            <td><%= nil %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>